<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.talend.core.repository.repository_node_provider">
    <repositoryNode
      alias="%repository.metadataBigQueryConnections.alias"
      folder="metadata/bigqueryconnections"
      icon="icons/bigqueryConnection.png"
      isResouce="true"
      key="repository.metadataBigQueryConnections"
      label="Google BigQuery"
      ordinal="33"
      parentNodeType="METADATA"
      products="DI"
      type="METADATA_BigQueryCONNECTIONS"
    />
    <repositoryNode
      label="BigQuery Tables"
      products="DI"
      type="METADATA_CONN_TABLES"
    />
  </extension>
  <extension point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
      class="org.talend.repository.bigquery.ui.viewer.tester.BigQueryConnectionMetadataNodeTester"
      id="org.talend.repository.node.tester.metadata.bigquery"
      namespace="org.talend.repository.node.metadata"
      properties="isBigQueryConnection"
      type="org.talend.repository.model.RepositoryNode"
    />
    <propertyTester
      class="org.talend.repository.bigquery.ui.viewer.tester.BigQueryConnectionNodeTest"
      id="org.talend.repository.node.tester.metadata.bigquery.stableNode"
      namespace="org.talend.repository.node.metadata"
      properties="isBigQueryConnectionNode,isDeletedSubNode"
      type="org.talend.repository.model.RepositoryNode"
    />
  </extension>
  <extension point="org.eclipse.ui.navigator.navigatorContent">
    <navigatorContent
      activeByDefault="true"
      appearsBefore="org.talend.repository.viewer.metadata.dbDelimited"
      contentProvider="org.talend.repository.bigquery.ui.viewer.content.BigQueryConnectionsContentProvider"
      icon="icons/bigqueryConnection.png"
      id="org.talend.repository.viewer.metadata.bigquery"
      labelProvider="org.talend.repository.bigquery.ui.viewer.content.BigQueryConnectionLabelProvider"
      name="Google BigQuery"
      priority="normal"
    >
      <triggerPoints>
        <and>
          <instanceof value="org.talend.repository.model.RepositoryNode" />
          <or>
            <test
              forcePluginActivation="true"
              property="org.talend.repository.node.isMetadataTopNode"
            />
            <test property="org.talend.repository.node.metadata.isBigQueryConnection" />
          </or>
        </and>
      </triggerPoints>
      <possibleChildren>
        <and>
          <instanceof value="org.talend.repository.model.RepositoryNode" />
          <or>
            <test property="org.talend.repository.node.metadata.isSchema" />
            <test property="org.talend.repository.node.metadata.isSchemaColumn" />
            <test property="org.talend.repository.node.metadata.isBigQueryConnection" />
          </or>
        </and>
      </possibleChildren>
      <actionProvider
        class="org.talend.repository.view.di.metadata.action.MetedataNodeActionProvier"
        id="org.talend.repository.bigquery.action.provider.id"
      >
        <enablement>
          <and>
            <instanceof value="org.talend.repository.model.RepositoryNode" />
            <test
              forcePluginActivation="true"
              property="org.talend.repository.node.metadata.isBigQueryConnection"
            />
            <not>
              <test
                forcePluginActivation="true"
                property="org.talend.repository.node.isDeleted"
              />
            </not>
            <not>
              <test property="org.talend.repository.node.metadata.isDeletedSubNode" />
            </not>
          </and>
        </enablement>
      </actionProvider>
      <commonSorter
        class="org.talend.repository.bigquery.ui.viewer.sorter.BigQueryStableFolderSorter"
        id="org.talend.repository.node.metadata.viewer.sorter.BigQueryStableFolderSorter"
      >
        <parentExpression>
          <and>
            <instanceof value="org.talend.repository.model.RepositoryNode" />
            <test property="org.talend.repository.node.metadata.isBigQueryConnectionNode" />
          </and>
        </parentExpression>
      </commonSorter>
    </navigatorContent>
  </extension>
  <extension point="org.talend.core.repositoryContextualsActions">
    <Action
      class="org.talend.repository.bigquery.ui.actions.CreateBigQueryConnectionAction"
      id="org.talend.repository.bigquery.ui.actions.CreateBigQueryConnectionAction"
      isEditAction="true"
      isPropertiesAction="false"
      isReadAction="false"
      level="10"
      name="Create BigQuery Connection"
    />
    <Action
      class="org.talend.repository.bigquery.ui.actions.table.RetreiveBigQueryTableAction"
      id="org.talend.repository.bigquery.ui.actions.RetreiveBigQueryTableAction"
      isEditAction="true"
      isPropertiesAction="false"
      isReadAction="false"
      level="10"
      name="Retreive BigQuery Table"
    />
    <Action
      class="org.talend.repository.bigquery.ui.actions.table.ReadBigQueryTableAction"
      id="org.talend.repository.bigquery.ui.actions.ReadBigQueryTableAction"
      isEditAction="false"
      isPropertiesAction="false"
      isReadAction="true"
      level="10"
      name="Read BigQuery Table"
    />
  </extension>
  <extension point="org.talend.core.repository.repository_content">
    <RepositoryContent class="org.talend.repository.bigquery.ui.viewer.content.BigQueryRepositoryContentHandler" />
  </extension>
  <extension point="org.talend.core.runtime.repositoryComponent_provider">
    <DragAndDropFilter
      clazz="org.talend.repository.bigquery.ui.dnd.BigQueryDragAndDropTableFilter"
      id="org.talend.repository.bigquery.ui.dnd.BigQueryDragAndDropTableFilter"
      name="BigQuery Table Filter"
    />
    <RepositoryComponent
      name="BigQueryTable"
      type="BigQuery"
    >
      <Item clazz="org.talend.core.model.properties.BigQueryConnectionItem" />
    </RepositoryComponent>
  </extension>
    <extension point="org.talend.core.runtime.service">
    <Service
      class="org.talend.repository.bigquery.BigQueryProviderService"
      serviceId="IBigQueryProviderService"
    />
  </extension>
  <extension point="org.talend.repository.items.importexport.handler">
    <importItemsProvider
      id="org.talend.repository.bigquerywizard.importProvider"
      name="BigQuery importer"
      priority="NORMAL"
    >
      <importItemsHandler class="org.talend.repository.bigquery.ui.viewer.handler.BigQueryImportHandler">
        <parameter
          name="type"
          value="METADATA_BigQueryCONNECTIONS"
        />
      </importItemsHandler>
    </importItemsProvider>
  </extension>
  <extension point="org.talend.core.repository.repositorySeeker">
    <seeker
      class="org.talend.repository.bigquery.ui.viewer.seeker.BigQueryRepositorySeeker"
      name="BigQuery"
    />
  </extension>
</plugin>
