<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.talend.core.component_installer_task">
      <componentInstallerTask
            class="org.talend.studio.components.tck.splunk.SplunkInstaller" order="1" >
            <componentGAV g="org.talend.components" a="splunk" v="1.53.0-SNAPSHOT" c="" t="" ct="2" />
      </componentInstallerTask>
   </extension>

</plugin>
